.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.owl-theme .owl-dots {
  display: flex !important;
  position: absolute;
}

.owl-carousel .owl-item img {
  width: unset !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #423930 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 8px !important;
  height: 20px !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute !important;
  bottom: 20px !important;
}