@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');


.section-background:before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(159, 175, 145) ;
    transform: rotate(-1deg);
}
